<div id="kod_surumleri">

  <%== code_revisions.empty? ? "<p>#{l(:no_associated_code_revision)}</p>" : "" %>

  <%
    issue = Issue.find(issue_id)
    issue.changesets.each do |changeset| 
  %>
    <div id="changeset-<%= changeset.id %>" class="changeset journal">
      <div class="note">
        <h4 class='note-header'>
          <div class="contextual">
            <abbr title="<%= changeset.repository.url %>">
              <%= "#{l(:label_revision)} #{changeset.format_identifier}" %>
            </abbr>
            <% if changeset.filechanges.any? && User.current.allowed_to?(:browse_repository, changeset.project) %>
              (<%= link_to(l(:label_diff),
                           controller: "repositories",
                           action: "diff",
                           id: changeset.project,
                           repository_id: changeset.repository.identifier_param,
                           path: "",
                           rev: changeset.identifier) %>)
            <% end %>
          </div>

          <div>
            <%= avatar(changeset.user, size: "24") %>
            <%= authoring changeset.committed_on, changeset.author, label: :label_added_time_by %>
          </div>
        </h4>


        <div class="wiki changeset-comments"><%= format_changeset_comments changeset %></div>
        <div class="wiki changeset-comments">
          <label for="revision_tags-<%= changeset.id %>" style="font-weight: bold;">
            <%= l(:label_issue_code_artifacts_tags) %>: 
          </label>
          <select id="revision_tags-<%= changeset.id %>">
            <option value=""><%= l(:option_issue_code_artifacts_choose) %></option>
            <% tag_info = GitTagArtifacts::Git.commit_tags(changeset.repository.url, changeset.identifier) %>
            <%= options_for_select(tag_info.map { |tag| ["#{tag[:date]}", tag[:tag]] }) %>
          </select>
          <div class="artifact"></div>
        </div>
      </div>
    </div>
    <%= call_hook(:view_issues_history_changeset_bottom, { changeset: changeset }) %>
    <hr style="margin-bottom:50px">
  <% end %>
</div>



<script>
$(function(){

    function templateTagOption(item){
        if (!item.id) {
          return item.text;
        }
        var $date = $('<b>' + item.id + '</b> ');
        var $tag = $('<em style="float:right;display:block;">' + item.text + '</em>');
        var $div = $('<div/>').append($date).append($tag);
        return $div
    }

    $('[id^="revision_tags-"]').select2({
        width:"350px",
        templateResult: templateTagOption,
        templateSelection: templateTagOption
    }).on('select2:select', function (e) {
      
      const $select = $(this)
      const select_id = this.id
      const changeset_id = $(this).attr("id").split('-')[1]
      const selected_tag = e.params.data.id
      const url = `/<%= $NAME_CODE_ARTIFACTS %>/issues/<%=issue_id%>/tab/code_artifacts/changesets/${changeset_id}/tags?tag=${selected_tag}`
      const clearResultHtmlAndHide = function(){

        $div_artifact = $select.parent().find('div.artifact')
        $div_artifact.slideUp('slow',function() { this.innerHTML = '' })

      }
      const processCodeArtifacts = function( data ) {

        $('div.artifact').each(function(idx, div){ div.innerHTML = '' })

        $(`[id^="revision_tags-"]:not(#${select_id})`).each(function(idx, select){
          $(select).val('').trigger('change');
        })

        $div_artifact = $select.parent().find('div.artifact')
        $div_artifact && $div_artifact.hide().html( data ).slideDown('slow');
      }
      const processError = function(err){
        $div_artifact = $select.parent().find('div.artifact')
        $div_artifact && $div_artifact.hide().html( err.responseText ).slideDown('slow');
      }

      if(e.params.data && !e.params.data.id){
        clearResultHtmlAndHide();
      }else{
        $.get(url)
          .done(processCodeArtifacts)
          .fail(processError)
      }
    });
});
</script>
